<% include layout-top %>

<!-- page content -->
        <div class="right_col" role="main"
            data-ng-cloak
            data-ng-app="dashFaturaModule"
            data-ng-controller="dashFaturaController">
          <div class="">
            <div class="page-title">
              <div class="title_left col-md-8 col-sm-8 col-xs-12">
                <h3>Controle de Faturas <small>Dashboard do módulo faturamento</small></h3>
              </div>
            </div>
            
            <div class="clearfix"></div>

            <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Numero de Faturas</span>
              <div class="count">3</div>
              <span class="count_bottom"><i class="red">50% </i> From last month</span>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-8 tile_stats_count">
              <span class="count_top"><i class="fa fa-clock-o"></i> Vendas Imobiliárias</span>
              <div class="count">R$ 402.900,74</div>
              <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>51,14% </i> From last Week</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Prestação de serviços</span>
              <div class="count">R$ 386.414,50</div>
              <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>63% </i> From last Week</span>
            </div>
          </div>
          <!-- /top tiles -->

            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Lotes de Faturamento</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div id="echart_line" style="height:350px;"></div>

                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Lote Atual</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div id="echart_pie" style="height:350px;"></div>

                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Regras de Faturamento Ativas </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Regra de Faturamento</th>
                          <th>IRPJ</th>
                          <th>CSLL</th>
                          <th>PIS</th>
                          <th>COFINS</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Venda Imobiliária</td>
                          <td>1,20%</td>
                          <td>1,08%</td>
                          <td>6,50%</td>
                          <td>3,00%</td>
                          <td>11,78%%</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Prestação de Serviço</td>
                          <td>4,80%</td>
                          <td>2,88%</td>
                          <td>6,50%</td>
                          <td>3,00%</td>
                          <td>17,18%%</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>

              
            </div>

              


             
              


       
            </div>
          </div>
        </div>
        <!-- /page content -->

<% include layout-bottom %>

<!-- ECharts -->
    <script src="themes/gentelella-master/vendors/echarts/dist/echarts.min.js"></script>
    <script src="themes/gentelella-master/vendors/echarts/map/js/world.js"></script>
