<% include layout-top %>

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3><%=title %></h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <ol class="breadcrumb">
            <li><a href="/" >Home</a></li>
            <li class="active"><%=title %></li>
        </ol>
        <div class="row"
             data-ng-cloak
             data-ng-app="relatorioModule"
             data-ng-controller="relatorioFaturaController">
            <div class="col-md-4 col-sm-4 col-xs-4" >   
                <button ng-click="exportData()" class="btn btn-primary">Exportar Relat처rio</button>
            </div>    

            <div id="exportable" class="col-md-12 col-sm-12 col-xs-12">
                <table
                    class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">C처digo Fatura</th>
                            <th class="column-title">C처digo Cliente</th>
                            <th class="column-title">Tipo</th>
                            <th class="column-title">Data de Emiss찾o</th>
                            <th class="column-title">Data de Vencimento</th>
                            <th class="column-title">Valor Bruto</th>
                            <th class="column-title">Valor Liquido</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="even pointer" data-ng-repeat="fatura in faturas">
                            <td>{{fatura.codigo_fatura}}</td>
                            <td>{{fatura.codigo_cliente}}</td>
                            <td>{{fatura.tipo}}</td>
                            <td>{{fatura.data_emissao}}</td>
                            <td>{{fatura.data_vencimento}}</td>
                            <td>R$ {{fatura.valor_bruto}}</td>
                            <td>R$ {{fatura.valor_liquido}}</td>
                        </tr>
                    </tbody>
                </table>          
            </div>

        </div>
    </div>
</div>




<% include layout-bottom %>

<!-- Datatables -->
    <script src="themes/gentelella-master/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="themes/gentelella-master/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="themes/gentelella-master/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="themes/gentelella-master/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="themes/gentelella-master/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="themes/gentelella-master/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="themes/gentelella-master/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="themes/gentelella-master/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="themes/gentelella-master/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="themes/gentelella-master/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="themes/gentelella-master/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="themes/gentelella-master/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="themes/gentelella-master/vendors/jszip/dist/jszip.min.js"></script>
    <script src="themes/gentelella-master/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="themes/gentelella-master/vendors/pdfmake/build/vfs_fonts.js"></script>

<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>

<script src="javascripts/angular/angular.min.js"></script>
<script src="javascripts/app/relatorio/relatorioModule.js"></script>
<script src="javascripts/app/relatorio/relatorioService.js"></script>
<script src="javascripts/app/relatorio/relatorioFaturaController.js"></script>


